<?xml version='1.0' encoding='utf-8'?>
<Context>
    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <Resource name="jdbc/mariaDB" auth="Container"
        type="javax.sql.DataSource"
        minimumIdle="5" 
        maximumPoolSize="10"
        connectionTimeout="300000"
        dataSourceClassName="org.mariadb.jdbc.MySQLDataSource"
        dataSource.url="jdbc:mysql://localhost:3306/myDatabase?useSSL=false&user=username&password=password"
        />
</Context>
